<%= content_for(:title) do %>
  <title>Forgot Password - Inceptum</title>
<% end %>

<%= content_for(:card_title) do %>
  Forgot Your Password?
<% end %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions center-align">
    <%= f.submit "Reset password", class: "btn" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
