<a href = "<%= event_path(event) %>" data-remote = "true" data-method = "get" data-turbolinks="false">
	<div class="divider"></div>
	<br>
	<h5 class = "grey-text text-darken-3" style="margin-bottom:4px;font-weight:300"><%= event.title %></h5>
	<span class="grey-text">Day <%= event.day %> | <%= event.date_time %> | <%= event.location %></span><br><br>
</a>
<div class="divider"></div>