  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4><%= @event.title %></h4>
       <p><i class="material-icons left">schedule</i><b><%= @event.date_time %></b></p>
       <i class="material-icons left">room</i><b><%= @event.location %></b>
      <p><%= simple_format @event.description %></p>
      <b>Rules</b>
      <p><%= simple_format @event.rules %></p>
    </div>
    <div class="modal-footer">
    <% if !current_user %>
      <%= button_to 'Register', {:controller => "events", :action => "register"} , :method=>:post, class: "modal-action modal-close waves-effect waves-green btn-flat", remote: "true" %>
    <% else %>
    	<% if @event.users.exists?(current_user) %>
    		<%= button_to 'Unregister', {:controller => "events", :action => "unregister"} , :method=>:post, class: "modal-action modal-close waves-effect waves-green btn-flat", remote: "true" %>
    	<% else %>
    		<%= button_to 'Register', {:controller => "events", :action => "register"} , :method=>:post, class: "modal-action modal-close waves-effect waves-green btn-flat", remote: "true" %>
    	<% end %>
    <% end %>
    </div>
  </div>