  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4><%= @event.title %></h4>
      <p><%= simple_format @event.description %></p>
    </div>
    <div class="modal-footer">
    <% if !current_user %>
      <%= button_to 'Register', {:controller => "events", :action => "register"} , :method=>:post, class: "modal-action modal-close waves-effect waves-green btn-flat", remote: "true" %>
    <% else %>
    	<% if @event.users.exists?(current_user) %>
    		<%= button_to 'Unregister', {:controller => "events", :action => "unregister"} , :method=>:post, class: "modal-action modal-close waves-effect waves-green btn-flat", remote: "true" %>
    	<% else %>
    		<%= button_to 'Register', {:controller => "events", :action => "register"} , :method=>:post, class: "modal-action modal-close waves-effect waves-green btn-flat", remote: "true" %>
    	<% end %>
    <% end %>
    </div>
  </div>