      <div class="nav-content" style="padding-left:30px">
      <ul class="tabs tabs-transparent">
      	<li class="tab"><a class="active" href="#about">About</a></li>
        <li class="tab"><a href="#test1">Day 1</a></li>
        <li class="tab"><a href="#test2">Day 2</a></li>
        <li class="tab"><a href="#test3">Day 3</a></li>
      </ul>
    </div>
  </nav>
</header>
<main>
<div id="tabsdiv" class="yellow lighten-5">
  <div id="about" class="col s12">About
  </div>
  <div id="test1" class="col s12">
  	<div class = "row">
  		<div class =" col m2 s12">
  			<h5 class ="grey-text">March 1</h5>
  		</div>
  		<div class = "col m10 s12">
        <% @day1.try(:each) do |event| %>
          <a href = "#">
  				<div class="divider"></div>
  				<br>
  				<h5 class = "grey-text" style="margin-bottom:4px"><%= event.title %></h5>
  				<span class="grey-text"><%= event.date_time %> | <%= event.location %></span><br><br>
          </a>
  				<div class="divider"></div>
        <% end %>
  		</div>
  	</div>
  </div>
  <div id="test2" class="col s12">
  <div class = "row">
      <div class =" col m2 s12">
        <h5 class ="grey-text">March 2</h5>
      </div>
      <div class = "col m10 s12">
        <% @day2.try(:each) do |event| %>
          <a href = "#">
          <div class="divider"></div>
          <br>
          <h5 class = "grey-text" style="margin-bottom:4px"><%= event.title %></h5>
          <span class="grey-text"><%= event.date_time %> | <%= event.location %></span><br><br>
          </a>
          <div class="divider"></div>
        <% end %>
      </div>
    </div>
  </div>
  <div id="test3" class="col s12">
     <div class = "row">
      <div class =" col m2 s12">
        <h5 class ="grey-text">March 3</h5>
      </div>
      <div class = "col m10 s12">
        <% @day3.try(:each) do |event| %>
          <a href = "#">
          <div class="divider"></div>
          <br>
          <h5 class = "grey-text" style="margin-bottom:4px"><%= event.title %></h5>
          <span class="grey-text"><%= event.date_time %> | <%= event.location %></span><br><br>
          </a>
          <div class="divider"></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
